<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>注册</title>
    </head>

    <body th:fragment="register">
        <a id="modal-927849" href="#modal-container-927849"  class="layadmin-user-jump-change layadmin-link" data-toggle="modal">注册账号</a>

        <div class="modal fade" id="modal-container-927849" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                        </h4>
                    </div>

                    <form id="register-form" action="/register" method="post">
                        <div class="modal-body">
                            <div class="layadmin-user-login-main">
                                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                                    <div id="register-body">
                                        <div class="layadmin-user-login-box layadmin-user-login-header">
                                            <h2>心随乐动-注册</h2>
                                            <p>一个好用的音乐分享平台</p>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" style="position: absolute" for="captcha-addressee"></label>

                                            <input type="text" name="addressee" id="captcha-addressee" lay-verify="phone" placeholder="手机或邮箱" class="layui-input">

                                            <p id="tips" style="color: red" th:text="${session.tips}"></p>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-row">
                                                <div class="layui-col-xs7">
                                                    <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" style="position: absolute" for="captcha"></label>

                                                    <input type="text" name="captcha" id="captcha" lay-verify="required" placeholder="验证码" class="layui-input">
                                                </div>

                                                <div class="layui-col-xs5">
                                                    <div style="margin-left: 10px;">
                                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="register-get-code">获取验证码</button>

                                                        <input type="hidden" id="real-captcha"style="visibility: hidden">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layadmin-user-login-icon layui-icon layui-icon-password" style="position: absolute" for="newpassword"></label>

                                            <input type="password" name="newpassword" id="newpassword" lay-verify="pass" placeholder="密码" class="layui-input">
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layadmin-user-login-icon layui-icon layui-icon-password" style="position: absolute" for="repassword"></label>

                                            <input type="password" name="repassword" id="repassword" lay-verify="required" placeholder="确认密码" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <button class="layui-btn layui-btn-fluid" type="button" id="register-button" >注 册</button>
                                    </div>

                                    <div class="layui-trans layui-form-item layadmin-user-login-other">
                                        <label>社交账号注册</label>
                                        <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                                        <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>

                                        <a href="#" class="layadmin-user-jump-change layadmin-link layui-hide-xs" data-dismiss="modal" aria-hidden="true">用已有帐号登录</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>