<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图展示</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <script src="js/echarts/echarts.js"></script>
    <script src="js/jquery/jquery.js"></script>

</head>
<body>
<div id="main1" style="width: 600px;height: 400px;float:left"></div>
<div id="main2" style="width: 600px;height: 400px;float:left"></div>
<div id="main3" style="width: 600px;height: 400px;float:left"></div>
<div id="main4" style="width: 600px;height: 400px;float:left"></div>

<a href="/home" class="layui-btn" style="margin-top:47%">返回</a>
<script src="js/echartsDemo.js"></script>
</body>
</html>