<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<table width="98%" border="0" align="center" cellpadding="0"
       cellspacing="1" >
    <tr>
        <td>用户ID</td>
        <td>邮箱</td>
        <td>地址</td>
        <td>性别</td>
        <td>个人信息</td>
        <td>生日</td>
        <td>是否公开</td>
        <td>修改性别</td>
    </tr>
    <tr>
        <td th:text="*{session.user_id}"></td>
        <td th:text="*{session.email}"></td>
        <td th:text="*{session.address}"></td>
        <td th:text="*{session.gender}"></td>
        <td th:text="*{session.intro}"></td>
        <td th:text="*{session.birthday}"></td>
        <td th:text="*{session.isPublic}"></td>
        <td><form action="/updategender" method="post">
            <input type="text" name="gender" id="gender" placeholder="性别">
            <input type="submit" value="修改">
        </form></td>
    </tr>
</table>
</body>
</html>